# =========================
# Java / Maven
# =========================
target/
*.class
*.jar
*.war
*.ear

# =========================
# IDE files
# =========================
user/.idea/
*.iml
.vscode/
.project
.classpath
.settings/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Spring Boot
# =========================
application-local.yml
application-dev.yml
application-prod.yml

# =========================
# Environment / Secrets
# =========================
.env
*.pem
*.key

# =========================
# Docker
# =========================
*.tar
docker-compose.override.yml

# =========================
# Test Reports
# =========================
surefire-reports/
failsafe-reports/
